{% extends 'base.html.twig' %}

{% block title %}Operations{% endblock %}

{% block body %}
    <h1>Liste de toutes les opérations</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Symbol</th>
                <th>Position</th>
                <th>Type</th>
                <th>Lots</th>
                <th>OpenTime</th>
                <th>OpenPrice</th>
                <th>CloseTime</th>
                <th>ClosePrice</th>
                <th>Profit</th>
                <th>NetProfit</th>
                <th>Utilisateur</th>
            </tr>
        </thead>
        <tbody>
        {% for operation in operations %}
            <tr>
                <td>{{ operation.id }}</td>
                <td>{{ operation.symbol }}</td>
                <td>{{ operation.position }}</td>
                <td>{{ operation.type }}</td>
                <td>{{ operation.lots }}</td>
                <td>{{ operation.openTime ? operation.openTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ operation.openPrice }}</td>
                <td>{{ operation.closeTime ? operation.closeTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ operation.closePrice }}</td>
                <td>{{ operation.profit }}</td>
                <td>{{ operation.netProfit }}</td>
                <td>{{ operation.transmitter }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Aucune données trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
