{% extends 'base.html.twig' %}

{% block title %}New Operation{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('loginjs') }}
    {{ encore_entry_script_tags('selectall') }}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
<div class="login-card">

    {{ form_start(form, {'attr': {'class': 'login-form'}}) }}
    <h3>Créditer les comptes</h3>

        <div class="tabs" id="tabbedForm">
            <nav class="tab-nav"></nav>
            <div class="tab" data-name="Retrait">
                {{ form_row(form.retrait) }}
            </div>
            <div class="tab" data-name="Crédit">
                {{ form_row(form.credit) }}
            </div>
            {{ form_row(form.utilisateur) }}
            <input type="checkbox" name="select-all" id="select-all" />
            <label for="select-all">Tout sélectionner</label>

        </div>
    {{ form_end(form) }}

</div>
    </div>
{% endblock %}
