{% extends 'base.html.twig' %}

{% block title %}Nouvelle Operation{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('loginjs') }}
{% endblock %}

{% block body %}
    <div class="operation-container">
        <div class="form-container">
            {{ form_start(form, {'attr': {'class': 'form-signin'}}) }}
            <div class="tabs" id="tabbedForm">
                <nav class="tab-nav"></nav>
                <div class="tab" data-name="Retrait">
                    {{ form_row(form.retrait) }}
                </div>
                <div class="tab" data-name="Crédit">
                    {{ form_row(form.credit) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="requests-container">
            <h3>Mes demandes</h3>
            <div class="info-box card">
                <table class="table table-hover">
                    <thead>
                    <tr class="table-active">
                        <th>Type</th>
                        <th>Profit</th>
                        <th>Vérifié?</th>
                        <th>Approuvé?</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for operation in operations %}
                        <tr class="{% if operation.type == 'Sell' %}table-info{% elseif operation.type == 'Buy' %}table-warning{% elseif operation.type == 'Credit' %}table-success{% elseif operation.type == 'Retrait' %}table-danger{% endif %}">
                            <td><b>{{ operation.type }}</b></td>
                            <td class="{% if operation.profit < 0 %}bg-danger{% else %}bg-success{% endif %}">{{ operation.profit }}</td>
                            <td>{{ operation.isVerified ? 'Oui' : 'Non' }}</td>
                            <td>{{ operation.isApproved ? 'Oui' : 'Non' }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Aucune demande trouvée</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
