{% extends 'base.html.twig' %}

{% block title %}New Operation{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('loginjs') }}
{% endblock %}

{% block body %}


    {{ form_start(form, {'attr': {'class': 'form-signin'}}) }}
    <h3>Demande de transaction</h3>

        <div class="tabs" id="tabbedForm">
            <nav class="tab-nav"></nav>
            <div class="tab" data-name="Retrait">
                {{ form_row(form.retrait) }}
            </div>
            <div class="tab" data-name="Crédit">
                {{ form_row(form.credit) }}
            </div>
        </div>
        {{ form_end(form) }}
{% endblock %}
