{% extends 'base.html.twig' %}

{% block title %}Intra
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block body %}
{#
    <div class="container" style="background-image:url('{{ asset('uploads/files/image-min-64c7c85b09c08.jpg') }}')">
#}

        <main>
            <div class="py-5 text-center mt-5">
                <h2>Dasshboard</h2>
            </div>
            <div class="row">

                <div class="col-xl-3 col-md-6">
                    <!-- card -->
                    <div class="card card-animate">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="text-uppercase fw-medium text-muted text-truncate mb-0">Total Sells</p>
                                </div>
                                <div class="flex-shrink-0">
                                    <h5 class="text-success fs-14 mb-0">
                                        <i class="ri-arrow-right-up-line fs-13 align-middle"></i> +29.08 %
                                    </h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-end justify-content-between mt-4">
                                <div>
                                    <h5 class="fs-22 fw-semibold ff-secondary mb-4"><span class="counter-value"> {{ totalSell }}</span></h5>
                                    <a href="" class="text-decoration-underline">See details</a>
                                </div>
                                <div class="avatar-sm flex-shrink-0">
                                                        <span class="avatar-title bg-warning-subtle rounded fs-3">
                                                            <i class="bx bx-user-circle text-warning"></i>
                                                        </span>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->
                <div class="col-xl-3 col-md-6">
                    <!-- card -->
                    <div class="card card-animate">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="text-uppercase fw-medium text-muted text-truncate mb-0"> Semaine dernière </p>
                                </div>
                                <div class="flex-shrink-0">
                                    <h5 class="text-success fs-14 mb-0">
                                        <i class="ri-arrow-right-up-line fs-13 align-middle"></i> +16.24 %
                                    </h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-end justify-content-between mt-4">
                                <div>
                                    <h4 class="fs-22 fw-semibold ff-secondary mb-4">$<span class="counter-value" data-target={{ weeklySum }}>{{ weeklySum }}</span> </h4>
                                    <a href="" class="text-decoration-underline">View net earnings</a>
                                </div>
                                <div class="avatar-sm flex-shrink-0">
                                                        <span class="avatar-title bg-success-subtle rounded fs-3">
                                                            <i class="bx bx-dollar-circle text-success"></i>
                                                        </span>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->

                <div class="col-xl-3 col-md-6">
                    <!-- card -->
                    <div class="card card-animate">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="text-uppercase fw-medium text-muted text-truncate mb-0">Operations</p>
                                </div>
                                <div class="flex-shrink-0">
                                    <h5 class="text-danger fs-14 mb-0">
                                        <i class="ri-arrow-right-down-line fs-13 align-middle"></i> -3.57 %
                                    </h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-end justify-content-between mt-4">
                                <div>
                                    <h4 class="fs-22 fw-semibold ff-secondary mb-4"><span class="counter-value" data-target="{{ sumOperations }}">{{ sumOperations }}</span></h4>
                                    <a href="" class="text-decoration-underline">Voir toutes vos opérations</a>
                                </div>
                                <div class="avatar-sm flex-shrink-0">
                                                        <span class="avatar-title bg-info-subtle rounded fs-3">
                                                            <i class="bx bx-shopping-bag text-info"></i>
                                                        </span>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->



                <div class="col-xl-3 col-md-6">
                    <!-- card -->
                    <div class="card card-animate">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="text-uppercase fw-medium text-muted text-truncate mb-0"> Mon compte</p>
                                </div>
                                <div class="flex-shrink-0">
                                    <h5 class="text-muted fs-14 mb-0">
                                        +0.00 %
                                    </h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-end justify-content-between mt-4">
                                <div>
                                    <h4 class="fs-22 fw-semibold ff-secondary mb-4">$<span class="counter-value" data-target="165.89">{{ user.accountBalance}}</span> </h4>
                                    <a href="" class="text-decoration-underline">Lien</a>
                                </div>
                                <div class="avatar-sm flex-shrink-0">
                                                        <span class="avatar-title bg-primary-subtle rounded fs-3">
                                                            <i class="bx bx-wallet text-primary"></i>
                                                        </span>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->
            </div>


            <div class="row g-4 mt-3">
                <div class="col-md-5 col-lg-4 order-md-last">
                        <div class="vh-100">
                            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                            <script type="text/javascript">
                                new TradingView.widget(
                                    {
                                        "autosize": true,
                                        "symbol": "NASDAQ:AAPL",
                                        "interval": "D",
                                        "timezone": "Etc/UTC",
                                        "theme": "light",
                                        "style": "1",
                                        "locale": "fr",
                                        "toolbar_bg": "#f1f3f6",
                                        "enable_publishing": false,
                                        "withdateranges": true,
                                        "allow_symbol_change": true,
                                        "container_id": "tradingview_0ceec"
                                    }
                                );
                            </script>
                        </div>

                </div>
                <div class="col-md-9 col-lg-8">
                    <div class="info-box card bg-aqua">

                    <table class="table table-hover">
                        <thead>
                        <tr class="table-active">
                            <th>Symbol</th>
                            <th>Type</th>
{#                            <th>Lots</th>#}
                            <th>OpenTime</th>
                            <th>OpenPrice</th>
                            <th>CloseTime</th>
                            <th>ClosePrice</th>
                            <th>Profit</th>
{#                            <th>NetProfit</th>#}
                        </tr>
                        </thead>
                        <tbody>
                        {% for operation in operations %}
                            {% if operation.type == 'Sell' %}
                                <tr class="table-info">
                            {% elseif operation.type == 'Buy' %}
                                <tr class="table-warning">
                            {% elseif operation.type == 'Credit' %}
                                <tr class="table-success">
                            {% elseif operation.type == 'Retrait' %}
                                <tr class="table-danger">
                            {% endif %}

{#                            {% if operation.symbol == 'USDJPY' %}#}
{#                                <td><i class="fa-solid fa-dollar-sign"></i></td>#}
{#                            {% elseif operation.symbol == 'EURUSD' %}#}
{#                                <td><i class="fa-solid fa-euro-sign"></i></td>#}
{#                            {% elseif operation.symbol == 'RIPPLE' %}#}
{#                                <td><i class="fa-solid fa-ruble-sign"></i></td>#}
{#                            {% elseif operation.symbol == 'GBPJPY' %}#}
{#                                <td><i class="fa-solid fa-yen-sign"></i></td>#}
{#                            {% else%}#}
                            <td>{{ operation.symbol }}</td>
{#                            {% endif %}#}
                                <td><b>{{ operation.type }}</b></td>
                            {#    <td>{{ operation.lots }}</td>#}
                                <td>{{ operation.openTime ? operation.openTime|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ operation.openPrice }}</td>
                                <td>{{ operation.closeTime ? operation.closeTime|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ operation.closePrice }}</td>
                                {% if operation.profit < 0 %}
                                   <td class="bg-danger">{{ operation.profit }}</td>
                                {% else %}
                                     <td class="bg-success">{{ operation.profit }}</td>
                                 {% endif %}
{#                                <td>{{ operation.netProfit }}</td>#}
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="12">Aucune opération trouvée</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </main>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">© 2017–2020 Company Name</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">Privacy</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Terms</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Support</a>
                </li>
            </ul>
        </footer>


{% endblock %}
