{% extends 'base.html.twig' %}

{% block title %}Intra{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main>
        <div class="row g-4">
            <div class="col containerDashboardChart p-2">
                <div class="card card-site-career">
                    <div class="legend d-flex align-items-center justify-content-between">
                        <div class="left d-flex align-items-center">
                            <div class="icon eye">
                                <span class="icon-lay il-eye"></span>
                            </div>
                        </div>
                        <div class="right {% if progressPercentage >= 0 %}up{% else %}down{% endif %}">
                            <span class="icon-lay il-arrow-{{ progressPercentage >= 0 ? 'top' : 'bottom' }}"></span>
                            {{ progressPercentage|number_format(2) }} % {{ progressPercentage >= 0 ? 'de plus' : 'de moins' }}
                        </div>
                    </div>
                    <div class="canvas">
                        {{ render_chart(chart) }}
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="w-50 p-2">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="icon-container">
                                    <div class="icon-bg">
                                        <i class="fas fa-shopping-cart"></i>
                                    </div>
                                </div>
                                <p class="text-uppercase fw-medium text-muted mb-0">Total Vente</p>
                                <h4 class="fs-22 fw-semibold">{{ totalSell }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="w-50 p-2">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="icon-container">
                                    <div class="icon-bg">
                                        <i class="fas fa-euro-sign"></i>
                                    </div>
                                </div>
                                <p class="text-uppercase fw-medium text-muted mb-0">Gain Semaine dernière</p>
                                <h4 class="fs-22 fw-semibold">{{ weeklySum }} €</h4>
                            </div>
                        </div>
                    </div>
                </div>
              <div class="row">
                  <div class="w-50 p-2">
                      <div class="card">
                          <div class="card-body text-center">
                              <div class="icon-container">
                                  <div class="icon-bg">
                                      <i class="fas fa-shopping-bag"></i>
                                  </div>
                              </div>
                              <p class="text-uppercase fw-medium text-muted mb-0">Total Achat</p>
                              <h4 class="fs-22 fw-semibold">{{ totalBuy }}</h4>
                          </div>
                      </div>
                  </div>
                  <div class="w-50 p-2">
                      <div class="card">
                          <div class="card-body text-center">
                              <div class="icon-container">
                                  <div class="icon-bg">
                                      <i class="fas fa-wallet"></i>
                                  </div>
                              </div>
                              <p class="text-uppercase fw-medium text-muted mb-0">Solde</p>
                              <h4 class="fs-22 fw-semibold">{{ sumUser }} €</h4>
                          </div>
                      </div>
                  </div>
              </div>
              </div>

            </div>


<div class="row g-4 coursbourse mt-3">
                <div class="col-md-5 col-lg-4 order-md-last tableaubourse">
                        <div class="vh-100 table">
                            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                            <script type="text/javascript">
                                new TradingView.widget(
                                    {
                                        "autosize": true,
                                        "symbol": "NASDAQ:AAPL",
                                        "interval": "D",
                                        "timezone": "Etc/UTC",
                                        "theme": "light",
                                        "style": "1",
                                        "locale": "fr",
                                        "toolbar_bg": "#f1f3f6",
                                        "enable_publishing": false,
                                        "withdateranges": true,
                                        "allow_symbol_change": true,
                                        "container_id": "tradingview_0ceec"
                                    }
                                );
                            </script>
                        </div>

                </div>
                <!-- TradingView Widget BEGIN -->

                <!-- TradingView Widget END -->
                <div class="col-md-9 col-lg-8 tableauuser">
                    <div class="info-box card bg-aqua">

                    <table class="table table-hover">
                        <thead>
                        <tr class="table-active">
                            <th>Symbol</th>
                            <th>Type</th>
{#                            <th>Lots</th>#}
                            <th>OpenTime</th>
                            <th>OpenPrice</th>
                            <th>CloseTime</th>
                            <th>ClosePrice</th>
                            <th>Profit</th>
{#                            <th>NetProfit</th>#}
                        </tr>
                        </thead>
                        <tbody>
                        {% for operation in operations %}
                            {% if operation.type == 'Sell' %}
                                <tr class="table-info">
                            {% elseif operation.type == 'Buy' %}
                                <tr class="table-warning">
                            {% elseif operation.type == 'Credit' %}
                                <tr class="table-success">
                            {% elseif operation.type == 'Retrait' %}
                                <tr class="table-danger">
                            {% endif %}

{#                            {% if operation.symbol == 'USDJPY' %}#}
{#                                <td><i class="fa-solid fa-dollar-sign"></i></td>#}
{#                            {% elseif operation.symbol == 'EURUSD' %}#}
{#                                <td><i class="fa-solid fa-euro-sign"></i></td>#}
{#                            {% elseif operation.symbol == 'RIPPLE' %}#}
{#                                <td><i class="fa-solid fa-ruble-sign"></i></td>#}
{#                            {% elseif operation.symbol == 'GBPJPY' %}#}
{#                                <td><i class="fa-solid fa-yen-sign"></i></td>#}
{#                            {% else%}#}
                            <td>{{ operation.symbol }}</td>
{#                            {% endif %}#}
                                <td><b>{{ operation.type }}</b></td>
                            {#    <td>{{ operation.lots }}</td>#}
                                <td>{{ operation.openTime ? operation.openTime|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ operation.openPrice }}</td>
                                <td>{{ operation.closeTime ? operation.closeTime|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ operation.closePrice }}</td>
                                {% if operation.profit < 0 %}
                                   <td class="bg-danger">{{ operation.profit }}</td>
                                {% else %}
                                     <td class="bg-success">{{ operation.profit }}</td>
                                 {% endif %}
{#                                <td>{{ operation.netProfit }}</td>#}
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="12">Aucune opération trouvée</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                        {% if maxPages > 1 %}
                            {% set nearbyPagesLimit = 4 %}
                            <ul class="pagination pagination-sm">
                                <!-- `«` arrow -->
                                <li class="page-item {{ thisPage == 1 ? 'disabled' : '' }}">
                                    <a class="page-link" href="{{ path('app_default', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
                                </li>

                                <!-- Render each page number -->
                                <div class="middle">
                                    {% for i in 1..maxPages %}
                                        {% if 0 == (thisPage - nearbyPagesLimit) - loop.index %} {# dot before #}
                                            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                                        {% elseif 0 == (thisPage + nearbyPagesLimit) - loop.index %} {# dot after #}
                                            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                                        {% elseif 0 < (thisPage - nearbyPagesLimit) - loop.index %} {# hide all before #}
                                        {% elseif 0 > (thisPage + nearbyPagesLimit) - loop.index %} {# hide all after #}
                                        {% else %}
                                            <li class="page-item {{ thisPage == loop.index  ? 'active' : '' }}">
                                                <a class="page-link" href="{{ path('app_default', {page: loop.index}) }}">{{ loop.index }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                <!-- `»` arrow -->
                                <li class="page-item {{ thisPage == maxPages ? 'disabled' : '' }}">
                                    <a class="page-link" href="{{ path('app_default', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
                                </li>
                            </ul>
                        {% endif %}
                </div>
            </div>
            </div>
        </main>
{% endblock %}
