{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, {'attr': {'class': 'form-signin'}}) }}
    <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Mot de passe'
    }) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit" >Inscription</button>
    {{ form_end(registrationForm) }}
{% endblock %}
