{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="login-container">
        <div class="login-card">
            <h2 class="login-title">Création de compte</h2>
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="login-failure">{{ flash_error }}</div>
            {% endfor %}
            {{ form_start(registrationForm, {'attr': {'id': 'formvalidate'}}) }}
            <div class="form-group">
                {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Adresse Mail'}}) }}
            </div>
            <div class="form-group">
                {{ form_widget(registrationForm.nom, {'attr': {'placeholder': 'Nom'}}) }}
            </div>
            <div class="form-group">
                {{ form_widget(registrationForm.prenom, {'attr': {'placeholder': 'Prénom'}}) }}
            </div>
            <div class="form-group">
                {{ form_widget(registrationForm.plainPassword, {'attr': {'placeholder': 'Mot de passe'}}) }}
            </div>
            <button type="submit" class="login-btn">Inscription</button>
            {{ form_end(registrationForm) }}
            <p class="signup-text">Déjà un compte? <a href="{{ path('app_login') }}">Se connecter</a></p>
        </div>
    </div>
{% endblock %}
