{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_errors(registrationForm) }}

    <div class="logo text-center">
        <h1>Inscription</h1>
    </div>
    <div class="wrapper">
        <div class="inner-warpper text-center">
                {{ form_start(registrationForm, {'attr': {'id': 'formvalidate'}}) }}
                <div class="input-group">
                    {{ form_label(registrationForm.email, 'Adresse email') }}
                    {{ form_widget(registrationForm.email, {'attr': {'id': 'username'}}) }}
                    <span class="lighting"></span>
                </div>
                <div class="input-group">
                    <label for="registration_form__token" class="sr-only palceholder">Mot de passe</label>
                    {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                    {{ form_widget(registrationForm.plainPassword, {
                        id: 'inputPassword',
                        class: 'form-control mt-2'
                    }) }}
                    <span class="lighting"></span>
                </div>
                <button type="submit" id="login">Inscription</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
