{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block title %}Renvoyer le lien d'activation{% endblock %}

{% block body %}

    <div class="login-container">
        <div class="login-card">
        <h2 class="login-title">Renvoyer le lien d'activation</h2>
        <div class="inner-warpper text-center loginbackground" >
            {{ form_start(requestForm, {'attr': {'id': 'formvalidate', 'class': 'rounded'},}) }}
            <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                {{ form_widget(requestForm.email, {'attr': {'placeholder': 'Email'}}) }}
            </div>
            <button type="submit" class="login-btn">Envoi</button>
            {{ form_end(requestForm) }}
        </div>

            <p class="signup-text">Déjà un compte ? <a href="{{ path('app_login') }}">Se connecter</a></p>
    </div>

</div>
{% endblock %}


