{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block title %}Renvoyer le lien d'activation{% endblock %}

{% block body %}
    {{ form_start(requestForm, {'attr': {'class': 'form-signin'}}) }}
    <h1 class="h3 mb-3 font-weight-normal">Renvoyer le lien d'activation</h1>
    {{ form_row(requestForm.email) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit" >Envoi</button>
    {{ form_end(requestForm) }}
{% endblock %}
