{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %}Réinitialisation{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_errors(requestForm) }}

    <div class="login-container">
        <div class="login-card">
            <h2 class="login-title">Réinitialisation</h2>
            {{ form_start(requestForm, {'attr': {'id': 'formvalidate'}}) }}
                <div class="form-group">
                    <label for="email" class="sr-only">Email</label>
                    {{ form_widget(requestForm.email, {'attr': {'placeholder': 'Email'}}) }}
                </div>
                <div>
                    <small>
                        Entrez votre adresse mail et un lien vous sera envoyé pour réinitialiser votre mot de passe.
                    </small>
                </div>
                <button type="submit" class="login-btn">Envoyez le mail</button>
            {{ form_end(requestForm) }}
            <p class="signup-text">Déjà un compte? <a href="{{ path('app_login') }}">Se connecter</a></p>
        </div>
    </div>
{% endblock %}

