{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block title %}Réinitialisation{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_errors(requestForm) }}

    <div class="logo text-center">
        <h2>Réinitialisation</h2>
    </div>
    <div class="wrapper">
        <div class="inner-warpper text-center">
            {{ form_start(requestForm, {'attr': {'id': 'formvalidate'}}) }}
            <div class="input-group">
                {{ form_widget(requestForm.email, {'attr': {'id': 'username'}}) }}
                <span class="lighting"></span>
            </div>
            <div>
                <small>
                    Entrez votre adresse mail et un lien vous sera envoyé pour réinitialiser votre mot de passe.
                </small>
            </div>
            <button type="submit" id="login">Envoyez le mail</button>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
