{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Réinitialiser votre mot de passe</h1>

    {{ form_start(requestForm, {'attr': {'class': 'form-signin'}}) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre adresse mail et un lien vous sera envoyé pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary">Envoyez le mail</button>
    {{ form_end(requestForm) }}
{% endblock %}
