{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %}Réinitialisation{% endblock %}

{% block body %}

    <div class="login-container">
        <div class="login-card">
            <h2 class="login-title">Réinitialisation</h2>
            <div class="inner-wrapper text-center login-background">
                {{ form_start(resetForm, {'attr': {'id': 'formvalidate', 'class': 'login-form rounded'}}) }}
                <div class="form-group">
                    {{ form_widget(resetForm.plainPassword.first, {'attr': {'id': 'inputPassword', 'class': 'form-control', 'placeholder': 'Votre mot de passe'}}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(resetForm.plainPassword.second, {'attr': {'id': 'inputPasswordConfirm', 'class': 'form-control', 'placeholder': 'Retapez votre mot de passe'}}) }}
                </div>
                <button type="submit" class="login-btn">Réinitialiser votre mot de passe</button>
                {{ form_end(resetForm) }}
            </div>
            <p class="signup-text">Déjà un compte? <a href="{{ path('app_login') }}">Se connecter</a></p>
        </div>
    </div>

{% endblock %}
