{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_errors(resetForm) }}

    <div class="logo text-center">
        <h3>Réinitialisation</h3>
    </div>
    <div class="wrapper">
        <div class="inner-warpper text-center">
            {{ form_start(resetForm, {'attr': {'id': 'formvalidate'}}) }}
            <div class="input-group">
                <label></label>
                {{ form_widget(resetForm.plainPassword, {
                    id: 'inputPassword',
                    class: 'form-control mt-2'
                }) }}
            </div>
            <button type="submit" id="login">Réinitialiser votre mot de passe</button>
            {{ form_end(resetForm) }}
        </div>
    </div>
{% endblock %}
