{% extends 'base.html.twig' %}

{% block title %}Import d'images{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block body %}

    {{ form_start(form, {'attr': {'class': 'form-signin'}}) }}
    <h3>Import Images</h3>

    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
