{# templates/login/testSammmmmm.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="login-container">
        <div class="login-card">
            <h2 class="login-title">Bienvenue</h2>
            <p class="login-subtitle">Entrez vos identifiants</p>
            {% if error %}
                <div class="login-failure">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form action="{{ path('app_login')}}" method="post" class="login-form">
                <div class="form-group">
                    <label for="username" class="sr-only">Votre adresse mail</label>
                    <input type="email" name="_username" id="username" class="form-control" placeholder="Adresse Mail" value="{{ last_username }}" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Mot de passe</label>
                    <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
                </div>
                <div class="form-options">
                    <div>
                        <input type="checkbox" name="_remember_me" id="rememberMe">
                        <label for="rememberMe">Se souvenir de moi</label>
                    </div>
                    <a class="forgot-password" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié?</a>
                </div>
                <button type="submit" class="login-btn">Connexion</button>
            </form>
            <p class="signup-text">Pas de compte? <a href="{{ path('app_register') }}">S'enregistrer</a></p>
        </div>
    </div>
{% endblock %}
