{# templates/login/testSammmmmm.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Connexion
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{# ... #}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
   {# <div class="logo text-center">#}
           {# <img src="{{ asset('images/logoconnect.png') }}" width="100" height="100">#}
  {#          <img src="{{ asset('images/logoconnect.png') }}" width="100" height="100">
    </div>#}
    <div class="container_login py-10" style="background-image:url('{{asset('images/imageville.jpeg')}}')">
        <div class="wrapper titlelogin rounded-top">
            <h3 class="text-center text-white py-3 rounded-top">Connexion Utilisateur</h3>

            <div class="inner-warpper text-center loginbackground">
                    <form action="{{ path('app_login')}}" id="formvalidate" method="post" class="rounded">
                    <div class="input-group">
                        <label for="username" class="sr-only palceholder">Adresse email</label>
                        <input type="email" name="_username" id="username" class="form-control" placeholder="Adresse email" value="{{ last_username }}" required autofocus>
                        <span class="lighting"></span>
                    </div>
                    <div class="input-group">
                        <label for="inputPassword" class="sr-only palceholder">Mot de passe</label>
                        <input type="password" name="_password" id="inputPassword" class="form-control mt-2" placeholder="Mot de passe" required>
                        <span class="lighting"></span>
                    </div>
                    <button type="submit" id="login">Se connecter</button>
                    <div class="clearfix supporter">
                        <a class="forgot pull-right" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié?</a>
                    </div>
                </form>
            </div>
            <div class="signup-wrapper text-center">
                <p> <a href="{{ path('app_register') }}"> Pas de compte ? <span class="text-primary">Créer un compte</span></a></p>
            </div>
        </div>
    </div>


{% endblock %}
