{# templates/login/new.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{# ... #}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form class="form-signin" action="{{ path('app_login') }}" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
        <label for="username" class="sr-only">Email address</label>
        <input type="email" name="_username" id="username" class="form-control" placeholder="Email address" value="{{ last_username }}" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in
        </button>
    </form>


{% endblock %}
