{#<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_default') }}">Accueil</a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_import_csv') }}">Importer CSV</a>
                </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_import_images') }}">Importer Images</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_credit') }}">Ajouter credit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin') }}">Administration</a>
                </li>
              #}{#  <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_operation_index') }}">Operations</a>
                </li>#}{#
                {% endif %}
                <li class="nav-item">
                    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">S'enregistrer</a>
                    {% endif %}
                </li>
            </ul>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    {% endif %}
        </div>
    </div>
</nav>#}
{% block stylesheets %}
    {{ encore_entry_link_tags('sidebar') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('sidebarjs') }}
{% endblock %}

<nav class="sidebar">
    <a href="#" class="logo">Intra</a>

    <div class="menu-content">
        <ul class="menu-items">
            <li class="item">
                <a aria-current="page" href="{{ path('app_default') }}">Accueil</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li class="item">
                <a class="nav-link" href="{{ path('app_import_csv') }}">Importer CSV</a>
            </li>
            <li class="item">
                <a class="nav-link" href="{{ path('app_import_images') }}">Importer Images</a>
            </li>
            <li class="item">
                <a class="nav-link" href="{{ path('app_credit') }}">Ajouter credit</a>
            </li>
            <li class="item">
                <a class="nav-link" href="{{ path('admin') }}">Administration</a>
            </li>
              <li class="item">
                    <a class="nav-link" href="{{ path('app_operation_index') }}">Operations</a>
                </li>
            {% endif %}
<li class="item">
    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
</li>
<li class="item">
    <a class="nav-link" href="{{ path('app_register') }}">S'enregistrer</a>
    {% endif %}
</li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>

                </li>
            {% endif %}

</ul>
</div>
</nav>


