{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block body %}
    <div class="d-flex justify-content-center">
        <div class="login-card">
            {{ form_start(profileForm, {'attr': {'class': 'login-form'}}) }}
            <h3>Modifier vos informations</h3>
            {{ form_widget(profileForm) }}
            {{ form_end(profileForm) }}
        </div>
    </div>

{% endblock %}
