{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block body %}

    {{ form_start(accountForm, {'attr': {'class': 'form-signin'}}) }}
    <h3>Modifier votre mot de passe</h3>
    {{ form_widget(accountForm) }}
    {{ form_end(accountForm) }}

{% endblock %}
