{% extends 'base.html.twig' %}

{% block title %}Votre compte{% endblock %}


{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_errors(accountForm) }}

    <div class="container_login py-10">
        <div class="wrapper titlelogin">
            <h3 class="text-center text-white py-3 rounded-top">Votre compte</h3>
            <div class="inner-warpper text-center loginbackground" style="background-image:url('{{asset('images/imageville.jpeg')}}')">
                {{ form_start(accountForm, {'attr': {'id': 'formvalidate', 'class': 'rounded'},}) }}
              {#  <div class="input-group">
                    {{ form_widget(accountForm.oldPassword, {'attr': {'id': 'username'}}) }}
                    <span class="lighting"></span>
                </div>
                <div class="input-group">
                    <label for="account_form__token" class="sr-only palceholder">Mot de passe</label>
                    {{ form_widget(accountForm.plainPassword, {
                        id: 'inputPassword',
                        class: 'form-control mt-2'
                    }) }}
                    <span class="lighting"></span>
                </div>
                <button type="submit" id="login">Inscription</button>#}
                {{ form_end(accountForm) }}
            </div>
        </div>

    </div>
    </div>
{% endblock %}
