{% extends 'base.html.twig' %}

{% block title %}Intra
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block body %}
{#
    <div class="container" style="background-image:url('{{ asset('uploads/files/image-min-64c7c85b09c08.jpg') }}')">
#}

        <main>
            <img src="{{ asset('uploads/walletBg.png') }}" id="walletimg">
            <div class="row">

                <div class="col-xl-3 col-md-6">
                    <!-- card -->
                    <div class="card card-animate ">
                        <div class="d-flex align-items-center card-header">
                            <div class="flex-grow-1 overflow-hidden">
                                <p class="text-uppercase fw-medium text-center text-muted text-truncate mb-0">Total Vente</p>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="mt-4">
                                <div>
                                    <h4 class="fs-22 fw-semibold ff-secondary mb-4 text-center"><span class="counter-value"> {{ totalSell }}</span></h4>
                                </div>
                                <div class="avatar-sm flex-shrink-0">
                                                        <span class="avatar-title bg-warning-subtle rounded fs-3">
                                                            <i class="bx bx-user-circle text-warning"></i>
                                                        </span>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->
                <div class="col-xl-3 col-md-6">
                    <!-- card -->
                    <div class="card card-animate">
                        <div class="d-flex align-items-center card-header">
                            <div class="flex-grow-1 overflow-hidden">
                                <p class="text-uppercase fw-medium text-muted text-truncate text-center mb-0"> Gain Semaine dernière </p>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="mt-4">
                                <div>
                                    <h4 class="fs-22 fw-semibold ff-secondary mb-4 text-center"><span class="counter-value" data-target={{ weeklySum }}>{{ weeklySum }} €</span> </h4>
                                </div>
                                <div class="avatar-sm flex-shrink-0">
                                                        <span class="avatar-title bg-success-subtle rounded fs-3">
                                                            <i class="bx bx-dollar-circle text-success"></i>
                                                        </span>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->

                <div class="col-xl-3 col-md-6">
                    <!-- card -->
                    <div class="card card-animate">
                        <div class="d-flex align-items-center card-header">
                            <div class="flex-grow-1 overflow-hidden">
                                <p class="text-uppercase fw-medium text-muted text-center text-truncate mb-0">Total Achat</p>
                            </div>

                        </div>
                        <div class="card-body">

                            <div class="mt-4">
                                <div>
                                    <h4 class="fs-22 fw-semibold ff-secondary mb-4 text-center"><span class="counter-value" data-target="{{ sumOperations }}">{{ totalBuy }}</span></h4>
                                </div>
                                <div class="avatar-sm flex-shrink-0">
                                                        <span class="avatar-title bg-info-subtle rounded fs-3">
                                                            <i class="bx bx-shopping-bag text-info"></i>
                                                        </span>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->



                <div class="col-xl-3 col-md-6">
                    <!-- card -->
                    <div class="card card-animate">
                        <div class="d-flex align-items-center card-header">
                            <div class="flex-grow-1 overflow-hidden">
                                <p class="text-uppercase fw-medium text-muted text-truncate mb-0 text-center"> Solde</p>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="mt-4 align-items-center">
                                    <h4 class="fs-22 fw-semibold text-center ff-secondary mb-4 "> {{ sumUser }} € </h4>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->
            </div>


            <div class="row g-4 mt-3 coursbourse">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                    <div class="tradingview-widget-container__widget"></div>
                    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                        {
                            "symbols": [
                            {
                                "proName": "FOREXCOM:SPXUSD",
                                "title": "S&P 500"
                            },
                            {
                                "proName": "FOREXCOM:NSXUSD",
                                "title": "US 100"
                            },
                            {
                                "proName": "FX_IDC:EURUSD",
                                "title": "EUR vers USD"
                            },
                            {
                                "proName": "BITSTAMP:BTCUSD",
                                "title": "Bitcoin"
                            },
                            {
                                "proName": "BITSTAMP:ETHUSD",
                                "title": "Ethereum"
                            }
                        ],
                            "showSymbolLogo": true,
                            "colorTheme": "light",
                            "isTransparent": false,
                            "displayMode": "adaptive",
                            "locale": "fr"
                        }
                    </script>
                </div>

            </div>
            <div class="tradingview-widget-container mt-4 w-100">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"><a href="https://fr.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a></div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
                    {
                        "width": 550,
                        "height": 550,
                        "symbolsGroups": [
                        {
                            "name": "Indices",
                            "originalName": "Indices",
                            "symbols": [
                                {
                                    "name": "FOREXCOM:SPXUSD",
                                    "displayName": "S&P 500 Index"
                                },
                                {
                                    "name": "FOREXCOM:NSXUSD",
                                    "displayName": "US 100 Cash CFD"
                                },
                                {
                                    "name": "FOREXCOM:DJI",
                                    "displayName": "Dow Jones Industrial Average Index"
                                },
                                {
                                    "name": "INDEX:NKY",
                                    "displayName": "Nikkei 225"
                                },
                                {
                                    "name": "INDEX:DEU40",
                                    "displayName": "DAX Index"
                                },
                                {
                                    "name": "FOREXCOM:UKXGBP",
                                    "displayName": "FTSE 100 Index"
                                }
                            ]
                        },
                        {
                            "name": "Futures",
                            "originalName": "Futures",
                            "symbols": [
                                {
                                    "name": "CME_MINI:ES1!",
                                    "displayName": "S&P 500"
                                },
                                {
                                    "name": "CME:6E1!",
                                    "displayName": "Euro"
                                },
                                {
                                    "name": "COMEX:GC1!",
                                    "displayName": "Gold"
                                },
                                {
                                    "name": "NYMEX:CL1!",
                                    "displayName": "WTI Crude Oil"
                                },
                                {
                                    "name": "NYMEX:NG1!",
                                    "displayName": "Gas"
                                },
                                {
                                    "name": "CBOT:ZC1!",
                                    "displayName": "Corn"
                                }
                            ]
                        },
                        {
                            "name": "Bonds",
                            "originalName": "Bonds",
                            "symbols": [
                                {
                                    "name": "CBOT:ZB1!",
                                    "displayName": "T-Bond"
                                },
                                {
                                    "name": "CBOT:UB1!",
                                    "displayName": "Ultra T-Bond"
                                },
                                {
                                    "name": "EUREX:FGBL1!",
                                    "displayName": "Euro Bund"
                                },
                                {
                                    "name": "EUREX:FBTP1!",
                                    "displayName": "Euro BTP"
                                },
                                {
                                    "name": "EUREX:FGBM1!",
                                    "displayName": "Euro BOBL"
                                }
                            ]
                        },
                        {
                            "name": "Forex",
                            "originalName": "Forex",
                            "symbols": [
                                {
                                    "name": "FX:EURUSD",
                                    "displayName": "EUR to USD"
                                },
                                {
                                    "name": "FX:GBPUSD",
                                    "displayName": "GBP to USD"
                                },
                                {
                                    "name": "FX:USDJPY",
                                    "displayName": "USD to JPY"
                                },
                                {
                                    "name": "FX:USDCHF",
                                    "displayName": "USD to CHF"
                                },
                                {
                                    "name": "FX:AUDUSD",
                                    "displayName": "AUD to USD"
                                },
                                {
                                    "name": "FX:USDCAD",
                                    "displayName": "USD to CAD"
                                }
                            ]
                        }
                    ],
                        "showSymbolLogo": true,
                        "isTransparent": false,
                        "colorTheme": "dark",
                        "locale": "fr",
                        "backgroundColor": "#131722"
                    }
                </script>
            </div>
            <!-- TradingView Widget END -->
            </div>

        </main>
{% endblock %}
