{% extends 'base.html.twig' %}

{% block title %}Intra
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
{#
    <div class="container" style="background-image:url('{{ asset('uploads/files/image-min-64c7c85b09c08.jpg') }}')">
#}

        <main>
            <div class="row g-4">
                <div class="col containerDashboardChart p-2">
                    <crypto-converter-widget amount="1" shadow="true" symbol="true" live="true" fiat="united-states-dollar" crypto="bitcoin" font-family="inherit" background-color="#9ebcdb" decimal-places="2" border-radius="0.5rem"></crypto-converter-widget><script async src="https://cdn.jsdelivr.net/gh/dejurin/crypto-converter-widget@1.5.2/dist/latest.min.js"></script><!-- /Crypto Converter ⚡ Widget -->        </div>
            </div>
                <div class="col">
                    <div class="row">
                        <div class="w-50 p-2">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="icon-container">
                                        <div class="icon-bg">
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                    </div>
                                    <p class="text-uppercase fw-medium text-muted mb-0">Total Vente</p>
                                    <h4 class="fs-22 fw-semibold">{{ totalSell }}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="w-50 p-2">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="icon-container">
                                        <div class="icon-bg">
                                            <i class="fas fa-euro-sign"></i>
                                        </div>
                                    </div>
                                    <p class="text-uppercase fw-medium text-muted mb-0">Gain Semaine dernière</p>
                                    <h4 class="fs-22 fw-semibold">{{ weeklySum }} €</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="w-50 p-2">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="icon-container">
                                        <div class="icon-bg">
                                            <i class="fas fa-shopping-bag"></i>
                                        </div>
                                    </div>
                                    <p class="text-uppercase fw-medium text-muted mb-0">Total Achat</p>
                                    <h4 class="fs-22 fw-semibold">{{ totalBuy }}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="w-50 p-2">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="icon-container">
                                        <div class="icon-bg">
                                            <i class="fas fa-wallet"></i>
                                        </div>
                                    </div>
                                    <p class="text-uppercase fw-medium text-muted mb-0">Solde</p>
                                    <h4 class="fs-22 fw-semibold">{{ sumUser }} €</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tradingview-widget-container mt-4 w-100">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"><a href="https://fr.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a></div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
                    {
                        "width": 550,
                        "height": 550,
                        "symbolsGroups": [
                        {
                            "name": "Indices",
                            "originalName": "Indices",
                            "symbols": [
                                {
                                    "name": "FOREXCOM:SPXUSD",
                                    "displayName": "S&P 500 Index"
                                },
                                {
                                    "name": "FOREXCOM:NSXUSD",
                                    "displayName": "US 100 Cash CFD"
                                },
                                {
                                    "name": "FOREXCOM:DJI",
                                    "displayName": "Dow Jones Industrial Average Index"
                                },
                                {
                                    "name": "INDEX:NKY",
                                    "displayName": "Nikkei 225"
                                },
                                {
                                    "name": "INDEX:DEU40",
                                    "displayName": "DAX Index"
                                },
                                {
                                    "name": "FOREXCOM:UKXGBP",
                                    "displayName": "FTSE 100 Index"
                                }
                            ]
                        },
                        {
                            "name": "Futures",
                            "originalName": "Futures",
                            "symbols": [
                                {
                                    "name": "CME_MINI:ES1!",
                                    "displayName": "S&P 500"
                                },
                                {
                                    "name": "CME:6E1!",
                                    "displayName": "Euro"
                                },
                                {
                                    "name": "COMEX:GC1!",
                                    "displayName": "Gold"
                                },
                                {
                                    "name": "NYMEX:CL1!",
                                    "displayName": "WTI Crude Oil"
                                },
                                {
                                    "name": "NYMEX:NG1!",
                                    "displayName": "Gas"
                                },
                                {
                                    "name": "CBOT:ZC1!",
                                    "displayName": "Corn"
                                }
                            ]
                        },
                        {
                            "name": "Bonds",
                            "originalName": "Bonds",
                            "symbols": [
                                {
                                    "name": "CBOT:ZB1!",
                                    "displayName": "T-Bond"
                                },
                                {
                                    "name": "CBOT:UB1!",
                                    "displayName": "Ultra T-Bond"
                                },
                                {
                                    "name": "EUREX:FGBL1!",
                                    "displayName": "Euro Bund"
                                },
                                {
                                    "name": "EUREX:FBTP1!",
                                    "displayName": "Euro BTP"
                                },
                                {
                                    "name": "EUREX:FGBM1!",
                                    "displayName": "Euro BOBL"
                                }
                            ]
                        },
                        {
                            "name": "Forex",
                            "originalName": "Forex",
                            "symbols": [
                                {
                                    "name": "FX:EURUSD",
                                    "displayName": "EUR to USD"
                                },
                                {
                                    "name": "FX:GBPUSD",
                                    "displayName": "GBP to USD"
                                },
                                {
                                    "name": "FX:USDJPY",
                                    "displayName": "USD to JPY"
                                },
                                {
                                    "name": "FX:USDCHF",
                                    "displayName": "USD to CHF"
                                },
                                {
                                    "name": "FX:AUDUSD",
                                    "displayName": "AUD to USD"
                                },
                                {
                                    "name": "FX:USDCAD",
                                    "displayName": "USD to CAD"
                                }
                            ]
                        }
                    ],
                        "showSymbolLogo": true,
                        "isTransparent": false,
                        "colorTheme": "dark",
                        "locale": "fr",
                        "backgroundColor": "#131722"
                    }
                </script>
            </div>
            <!-- TradingView Widget END -->
            </div>

        </main>
{% endblock %}
