{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="containerAccount">
        <img src="{{ asset('uploads/accountBg.png') }}" id="accountimg">
        <div class="accountRight">
            <h3>Mon compte</h3>
            <div>
                <label>Adresse mail : </label><b>{{ user.email }}</b>
            </div>
            <div>
                <label>Nom : </label><b>{{ user.nom }}</b>
            </div>
            <div>
                <label>Prénom : </label><b>{{ user.prenom }}</b>
            </div>
            <div>
                <label>Adresse : </label><b>{{ user.adresse }}</b>
            </div>
            <div>
                <label>Téléphone : </label><b>{{ user.telephone }}</b>
            </div>

            <a href="{{ path('edit_profile') }}">Modifier vos informations</a>
            <a href="{{ path('edit_password') }}">Modifier votre mot de passe</a>
        </div>

    </div>


{% endblock %}
