{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="containerAccount">
        <div class="accountLeft">
            <img src="{{ asset('uploads/accountBg.png') }}" id="accountimg">
        </div>
        <div class="accountRight">
            <h3>Mon compte</h3>
            <div class="info">
                <i class="fas fa-envelope"></i> <span>Adresse mail : </span><b>{{ user.email }}</b>
            </div>
            <div class="info">
                <i class="fas fa-user"></i> <span>Nom : </span><b>{{ user.nom }}</b>
            </div>
            <div class="info">
                <i class="fas fa-user"></i> <span>Prénom : </span><b>{{ user.prenom }}</b>
            </div>
            <div class="info">
                <i class="fas fa-map-marker-alt"></i> <span>Adresse : </span><b>{{ user.adresse }}</b>
            </div>
            <div class="info">
                <i class="fas fa-phone"></i> <span>Téléphone : </span><b>{{ user.telephone }}</b>
            </div>
            <div class="actions">
                <a class="btn btn-primary" href="{{ path('edit_profile') }}">Modifier vos informations</a>
                <a class="btn btn-secondary" href="{{ path('edit_password') }}">Modifier votre mot de passe</a>
            </div>
        </div>
    </div>
{% endblock %}
